.course-bg-color {
    background-color: #F4FAFD;
}

.company-img {
    height: 18px;
    width: 100px;
}

@media only screen and (max-width: 576px) {
    .company-sponsor {
        display: none;
    }
}

@media only screen and (min-width:577px) and (max-width: 992px) {
    .company-sponsor {
        display: none;
    }
}